# /node_modules/* in the project root is ignored by default
# build artefacts
/dist/*
/build/*
/node_modules/*

# data definition files
**/*.d.ts
**/*.svg
**/*.css
**/*.eot
**/*.ttf
**/*.woff

config-overrides.js
